*{
    background-color: black;
    border: 0px;
    padding: 0px;
    font-family: sans-serif;
    overflow: hidden;
}


@keyframes rotate {
    0%   {transform: rotate(360deg);}
    100% {transform: rotate(0deg);}
}

@keyframes growingInicial {
    0%   {height: 0px;}
    100% {height: 200px;}
}

@keyframes growing {
    0%   {height: 200px;}
    100% {height: 350px;}
}

@keyframes growing2 {
    0%   {height: 215px;}
    100% {height: 365px;}
}

@keyframes opac {
   0%   { opacity: 0;}
   100% { opacity: 1;}
}

.light{
    animation: rotate 25s linear infinite;
    position: absolute;
    width: 98vw;
    z-index: 1;
}

.cssdiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
}

.css{
    position: relative;
    top: 5%;
    background-color: #0000;
    height: 0px;
    animation: growing 3s ease-out infinite 5s, growingInicial 3s ease-in 1 2s;
    animation-direction: alternate;
    z-index: 2;
    filter: drop-shadow(0px 0px 15px white);
}

.title {
    color: white;
    z-index: 2;
    position: absolute;
    left: 36%;
    top: -8%;
    font-size: 8.7rem;
    background-color: unset;
    text-shadow: 1px 1px 20px #59abb9;
}

.t1 { opacity: 0; background-color:unset; animation: opac 8s forwards 3s; }
.t2 { opacity: 0; background-color:unset; animation: opac 7s forwards 4s; }
.t3 { opacity: 0; background-color:unset; animation: opac 6s forwards 5s; }

.subtitle{
    color: white;
    font-family: monospace;
    opacity: 0;
    z-index: 2;
    position: absolute;
    left: 20%;
    top: 80%;
    font-size: 3rem;
    background-color: unset;
    text-shadow: 1px 1px 15px #59abb9;
    animation: opac 5s 1 9s;
    animation-fill-mode: forwards;
}

@keyframes lancamento {
    0%   {transform: translateX(-1000px); opacity: 0;}
    100% {transform: translateX(-50px); opacity: 0.5;}
}



@keyframes premeet {
    0%   {opacity: 0;}
    100% {opacity: 0.9;}
}

@keyframes meet {
    100%   {opacity: 0.4;}
    0% {opacity: 0.9;}
}

@keyframes opacity {
    0%   {opacity: 0.5;}
    100% {opacity: 1;}
}

.lancamento{
    color: #87d7e4;
    z-index: 2;
    position: absolute;
    left: 8.5%;
    top: 41%;
    font-size: 27px;
    background-color: unset;
    animation: lancamento 9s ease-in 1 5s, opacity 3s ease-in-out infinite 14s;
    animation-direction: alternate;
    transform: translateX(-50px);
    text-shadow: -2px -2px 10px rgb(156, 156, 156);
    opacity: 0;
}

.meet{
    height: 85px;
    z-index: 2;
    position: absolute;
    opacity: 0;
    left: 9%;
    top: 57%;
    background-color: unset;
    animation: premeet 4s ease-in-out 1 13s, meet 3s ease-in-out infinite 17s; 
    animation-direction: alternate;
    transform: translateX(-50px);
    filter: drop-shadow(-2px -2px 20px rgb(8, 255, 234));
}

@keyframes data {
    0%   {opacity: 0; transform: translateX(550px);}
    70%  {opacity: 0;}
    100% {opacity: 0.5; transform: translateX(-50px);}
}

.data{
    color: white;
    z-index: 2;
    position: absolute;
    left: 6%;
    top: 45%;
    transform: translateX(-50px);
    font-size: 2.5rem;
    background-color: unset;
    animation: data 6s ease-in 1 8s, opacity 3s ease-in-out infinite 14s;
    animation-direction: alternate;
    text-shadow: -2px 1px 15px #59abb9;
    opacity: 0;
}

@keyframes sicredi {
    0% {opacity: 0; }
    100% {opacity: 1;}
}

@keyframes sicredi2 {
    0%   {transform: translateY(0px); transform: rotate(0deg);}
    100% {transform: translateY(150px); transform: rotate(360deg);}
}

@keyframes sicredi3 {
    0%   {transform: translateX(500px) rotate(900deg); opacity: 0.8;}
    100% {transform: translateX(-1800px) rotate(0deg); opacity: 0.8;}
}

.sicredi{
    z-index: 1;
    position: absolute;
    right: -15%;
    top: 69%;
    background-color: unset;
    height: 150px;
    opacity: 1;
    border-radius: 50%;
    Filter: drop-shadow(5px -5px 3px rgb(8, 255, 8));
    animation: 
        /* sicredi 10s infinite 1s,  */
        /* rotate 1.5s linear infinite, */
        sicredi3 1.5s ease-out 1 22s;
    /* animation-direction: alternate; */
}